statemachine/datamasque_blueprint.asl.json
{
  "Comment": "A blueprint to automate the creation of masked snapshots for a specific RDS DB instance.",
  "StartAt": "Describe DB Snapshots",
  "States": {
    "Describe DB Snapshots": {
      "Type": "Task",
      "Resource": "${DescribeDBSnapshotFunctionArn}",
      "Next": "CheckSnapshotStatus"
    },
    "CheckSnapshotStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SourceDBSnapshotStatus",
          "StringEquals": "available",
          "Next": "Describe DB Instances"
        },
        {
          "Variable": "$.SourceDBSnapshotStatus",
          "StringEquals": "failed",
          "Next": "FailState"
        }
      ],
      "Default": "WaitforSnapshot"
    },
    "WaitforSnapshot": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "Describe DB Snapshots"
    },
    "Describe DB Instances": {
      "Type": "Task",
      "Resource": "${DescribeDBInstancesFunctionArn}",
      "Next": "Restore DB from Snapshot"
    },
    "Restore DB from Snapshot": {
      "Type": "Task",
      "Resource": "${RestoreDBInstanceFromSnapshotFunctionArn}",
      "Next": "CheckDBAvailability"
    },
    "CheckDBAvailability": {
      "Type": "Task",
      "Resource": "${CheckDBAvailabilityArn}",
      "Next": "IsDBAvailable"
    },
    "IsDBAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "available",
          "Next": "Datamasque API run"
        },
        {
          "Variable": "$.status",
          "StringMatches": "fail*",
          "Next": "CleanupOnFailure"
        }
      ],
      "Default": "WaitBeforeRetry"
    },
    "WaitBeforeRetry": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckDBAvailability"
    },
    "FailState": {
      "Type": "Fail",
      "CausePath": "$.Error",
      "ErrorPath": "$.Error"
    },
    "Datamasque API run": {
      "Type": "Task",
      "Resource": "${DatamasqueRunFunctionArn}",
      "Next": "IsMaskRunComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "CleanupOnFailure"
        }
      ]
    },
    "IsMaskRunComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.MaskRunStatus",
          "StringMatches": "finish*",
          "Next": "CreateDBSnapshot"
        },
        {
          "Variable": "$.MaskRunStatus",
          "StringMatches": "fail*",
          "Next": "CleanupOnFailure"
        }
      ],
      "Default": "MaskingRunInProgress"
    },
    "MaskingRunInProgress": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckMaskingRunStatus"
    },
    "CheckMaskingRunStatus": {
      "Type": "Task",
      "Resource": "${CheckMaskingRunStatus}",
      "Next": "IsMaskRunComplete"
    },
    "CreateDBSnapshot": {
      "Type": "Task",
      "Resource": "${CreateMaskedSnapshot}",
      "Next": "CheckMaskedSnapshotStatus"
    },
    "CheckMaskedSnapshotStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.MaskedSnapshotStatus",
          "StringEquals": "available",
          "Next": "DeleteStageDBChoice"
        },
        {
          "Variable": "$.MaskedSnapshotStatus",
          "StringEquals": "failed",
          "Next": "CleanupOnFailure"
        }
      ],
      "Default": "WaitforMaskedSnapshot"
    },
    "WaitforMaskedSnapshot": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckMaskedSnapshot"
    },
    "CheckMaskedSnapshot": {
      "Type": "Task",
      "Resource": "${CheckMaskedSnapshot}",
      "Next": "CheckMaskedSnapshotStatus"
    },
    "DeleteStageDBChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DBType",
          "StringEquals": "Aurora",
          "Next": "DeleteStgClusterInstance"
        },
        {
          "Variable": "$.DBType",
          "StringEquals": "RDS",
          "Next": "DeleteStgRDS"
        }
      ],
      "Default": "OutputMaskedSnapshot"
    },
    "DeleteStgClusterInstance": {
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbInstanceIdentifier.$": "$.StgDbInstanceId",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.RdsException",
            "States.Timeout"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Next": "DeleteStgCluster",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance"
    },
    "DeleteStgCluster": {
      "Comment": "ponytail: aws-sdk:rds integrations are request-response only and cannot take .sync, so a Retry on InvalidDBClusterStateFault handles the race where the cluster member is still deleting.",
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbClusterIdentifier.$": "$.StageDB",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.InvalidDbClusterStateException",
            "Rds.RdsException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        }
      ],
      "Next": "OutputMaskedSnapshot",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBCluster"
    },
    "DeleteStgRDS": {
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbInstanceIdentifier.$": "$.StageDB",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.RdsException",
            "States.Timeout"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Next": "OutputMaskedSnapshot",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance"
    },
    "OutputMaskedSnapshot": {
      "Type": "Pass",
      "OutputPath": "$.MaskedDBSnapshotIdentifier",
      "End": true
    },
    "CleanupOnFailure": {
      "Comment": "Tear down the staging clone on any failure so no unmasked production clone is left running. Routes by DBType; unknown/absent type falls through to FailState. Each delete catches errors (e.g. clone never created) and still reaches FailState.",
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.DBType",
              "IsPresent": true
            },
            {
              "Variable": "$.DBType",
              "StringEquals": "Aurora"
            }
          ],
          "Next": "CleanupStgClusterInstance"
        },
        {
          "And": [
            {
              "Variable": "$.DBType",
              "IsPresent": true
            },
            {
              "Variable": "$.DBType",
              "StringEquals": "RDS"
            }
          ],
          "Next": "CleanupStgRDS"
        }
      ],
      "Default": "FailState"
    },
    "CleanupStgClusterInstance": {
      "Comment": "Retry transient RDS throttling before giving up: Retry runs before Catch, so a throttled delete is retried, and only a persistent error (e.g. clone never created) falls through to still tear down the cluster.",
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbInstanceIdentifier.$": "$.StgDbInstanceId",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.RdsException",
            "States.Timeout"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Next": "CleanupStgCluster",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "CleanupStgCluster"
        }
      ]
    },
    "CleanupStgCluster": {
      "Comment": "Same InvalidDbClusterStateException race as DeleteStgCluster: the just-deleted member may still be deleting. Retry before Catch so the cluster is actually torn down rather than orphaned on the failure path.",
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbClusterIdentifier.$": "$.StageDB",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.InvalidDbClusterStateException",
            "Rds.RdsException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        }
      ],
      "Next": "FailState",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBCluster",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "FailState"
        }
      ]
    },
    "CleanupStgRDS": {
      "Type": "Task",
      "ResultPath": null,
      "Parameters": {
        "DbInstanceIdentifier.$": "$.StageDB",
        "SkipFinalSnapshot": true
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Rds.RdsException",
            "States.Timeout"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Next": "FailState",
      "Resource": "arn:aws:states:::aws-sdk:rds:deleteDBInstance",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "FailState"
        }
      ]
    }
  }
}
